.hero-background{
    position:absolute;
    inset:0;
    z-index:0;
    overflow:hidden;
}

.hero-background img{

    position:absolute;

    inset:0;

    width:100%;

    height:100%;

    object-fit:cover;

    object-position:center -190px;
     -webkit-mask-image: linear-gradient(
        to bottom,
        black 0%,
        black 82%,
        rgba(0,0,0,.9) 90%,
        transparent 100%
    );

    mask-image: linear-gradient(
        to bottom,
        black 0%,
        black 82%,
        rgba(0,0,0,.9) 90%,
        transparent 100%
    );
}


