.scroll-indicator {

    position: absolute;

    bottom: 30px;

    left: 50%;

    transform: translateX(-50%);

    display: flex;

    flex-direction: column;

    align-items: center;

    cursor: pointer;

    user-select: none;

    z-index: 20;

}

/* Mouse */

.mouse {

    width: 30px;

    height: 50px;

    border: 2px solid rgba(255,255,255,.45);

    border-radius: 40px;

    display: flex;

    justify-content: center;

    align-items: flex-start;

    backdrop-filter: blur(10px);

    box-shadow:
        0 0 20px rgba(124,58,237,.2);

}

.wheel {

    width: 4px;

    height: 10px;

    border-radius: 999px;

    margin-top: 8px;

    background: white;

    animation: wheelMove 1.6s infinite;

}

/* Arrows */

.scroll-arrows {

    display: flex;

    flex-direction: column;

    margin-top: 8px;

    color: #38BDF8;

    font-size: 22px;

}

.scroll-arrows svg:nth-child(1){

    animation: arrowBounce 1.6s infinite;

}

.scroll-arrows svg:nth-child(2){

    margin-top: -10px;

    animation: arrowBounce 1.6s .25s infinite;

}

/* Wheel Animation */

@keyframes wheelMove{

    0%{

        opacity:1;

        transform:translateY(0);

    }

    100%{

        opacity:0;

        transform:translateY(18px);

    }

}

/* Arrow Animation */

@keyframes arrowBounce{

    0%{

        opacity:0;

        transform:translateY(0);

    }

    50%{

        opacity:1;

        transform:translateY(6px);

    }

    100%{

        opacity:0;

        transform:translateY(12px);

    }

}

.scroll-indicator:hover .mouse{

    border-color:#38BDF8;

    box-shadow:
        0 0 30px rgba(56,189,248,.35);

}

.scroll-indicator:hover .scroll-arrows{

    color:white;

}

/* Mobile */

@media(max-width:768px){

.scroll-indicator{

bottom:20px;

}

.mouse{

width:26px;

height:44px;

}

.scroll-arrows{

font-size:20px;

}

}